<!DOCTYPE html>
<html>
    <head>
        <title>Restaurant</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/main.css" />
        <link rel="stylesheet" href="/classes.css" />
        <link rel="stylesheet" href="/restaurants.css" />
    </head>
    
    <body class="transitionible">
        <header class="pane glass1 transitionible">
            <h1>{{title}}</h1>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer class="glass3">
            By Michael Bailey @ <a style="text-decoration: underline;" href="https://michael-bailey.github.io/"> michael-bailey.github.io</a>
        </footer>
    </body>
</html>