<!DOCTYPE html>
<html>
    <head>
        <title>Restaurant</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="style.css"/>
    </head>
    
    <body>
        
        <header class="glass1">
            <h1>{{title}}</h1>
        </header>
        <main class="glass1">
            {{{body}}}
        </main>
        <footer class="glass2">
            Still haven't figured out how to centre this. ¯\_(ツ)_/¯ <a style="text-decoration: underline;" href="https://michael-bailey.github.io/">github.io</a>
        </footer>
    </body>
</html>