<!DOCTYPE html>
<html>
    <head>
        <title>Restaurant</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="style.css"/>
    </head>
    
    <body>
        
        <header>
            <h1>{{title}}</h1>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            this is made by Michael Bailey <a style="text-decoration: underline;" href="https://michael-bailey.github.io/">github.io</a>
        </footer>
    </body>
</html>