<article>
    {{#each restaurant}}
    <section style="background-image: url('{{this.image}}');">
        <div class="glass2 transitionible">
            <h2 class="transitionible">{{this.name}}</h2>
        </div>
    </section>
    {{/each}}
</article>