<article>
    {{#each restaurant}}
    <section style="background-image: url('{{this.image}}');">
        <div>
            <h2>{{this.name}}</h2>
        </div>
    </section>
    {{/each}}
</article>