<article>
    <section id="ishere">
        <h2>What is here?</h2>

        <p>
            short answer: not much really.<br/>
            long answer: not much.<br/>
            <br/>
            this is a test site so make sure that express is doing it's express job of serving a few html pages<br/>

        </p>
    </section>
    <section id="isnthere">
        <h2>What isn't here?</h2>
        <p>
            short answer: quite a bit.<br/>
            long answer: a little.<br/>
            <br/>
            This is not a fully dynamic page with flying animations, drag and drop file uploading, and one to one help chat. I did this in about half an hour.<br/>
        </p>
    </section>
</article>