<article class="pane glass1 restaurant-grid">
    {{#each restaurant}}
    <a href="/v1/restaurants/{{this.id}}">
        <section style="background-image: url('{{this.image}}');" class="image-host pane">
            <div style="border-radius: 0 0 20px 20px;" class="glass2 transitionible image-title">
                <h2 class="transitionible">{{this.name}}</h2>
            </div>
        </section>
    </a>
    {{/each}}
</article>