<article class="glass1 pane restaurant-article">

    <section style="background-image: url('{{restaurant.image}}');" class="pane description-box">
        <div class="glass2 pane-cover">
            <h2>Menus</h2>
        </div>
    </section>
    {{#each restaurant.Menus}}
        <section class="glass2 pane menu" style="text-align: left;">
            <h3 style="margin-bottom: 3em;">{{this.title}}</h3>
            <div class="menu-grid">
                
                {{#each this.Items}}
                    <h4>{{this.name}}</h4>
                    <p>£{{this.price}}</p>
                {{/each}}
            </div>
        </section>
    {{/each}}
</article>