<article class="pane glass1 restaurant-grid">
    <script>
        // dynamic loading of css using scripts that are loaded at render time
        var css = document.createElement("link")
        css.rel = "stylesheet"
        css.href = "/restaurants.css"

        document.head.appendChild(css)
    </script>


    {{#each restaurant}}
    <a href="/restaurants/{{this.id}}">
        <section style="background-image: url('{{this.image}}');" class="image-host pane">
            <div style="border-radius: 0 0 20px 20px;" class="glass2 transitionible image-title">
                <h2 class="transitionible">{{this.name}}</h2>
            </div>
        </section>
    </a>
    {{/each}}
</article>