@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', Helvetica, sans-serif;

    color: white;
}


@media (prefers-color-scheme: light) {

    html {
        background-color: skyblue;
    }

    .glass1 {
        background-color: rgba(255, 255, 255, 0.45);

        -webkit-backdrop-filter: blur(20px) contrast(1.3);
        backdrop-filter: blur(20px) contrast(1.3);
    }
    
    .glass2 {
        background-color: rgba(255, 255, 255, 0.35);

        -webkit-backdrop-filter: blur(10px) contrast(1.4);
        backdrop-filter: blur(10px) contrast(1.4);
    }

    .glass3 {
        background-color: rgba(0, 0, 0, 0.5);

        -webkit-backdrop-filter: blur(30px) contrast(1.2);
        backdrop-filter: blur(30px) contrast(1.2);
    }
}

@media (prefers-color-scheme: dark) {

    html {
        background-color: black;
    }

    .glass1 {
        background-color: rgba(0, 0, 0, 0.45);

        -webkit-backdrop-filter: blur(20px) contrast(1.4);
        backdrop-filter: blur(20px) contrast(1.4);
    }

    .glass2 {
        background-color: rgba(0, 0, 0, 0.3);

        -webkit-backdrop-filter: blur(10px) contrast(1.5);
        backdrop-filter: blur(10px) contrast(1.5);
    }


    .glass3 {
        background-color: rgba(0, 0, 0, 0.7);

        -webkit-backdrop-filter: blur(30px) contrast(1.5);
        backdrop-filter: blur(30px) contrast(1.5);
    }
}

.border {
    border-width: 1cm;
    border-color: rgba(255, 255, 255, 0.8);
}

.transitionible {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* css for mobile goes here */
html {
    width: 100%;
    height: fit-content;

    background-image: url("https://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/United%20Kingdom/London/london-aerial-thames-guide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

header {
    display: block;
    position: sticky;

    grid-area: header;

    top: 0.25cm;
    z-index: 10;

    padding-top: 0.5cm;
    padding-bottom: 0.5cm;

    border-radius: 0.5cm;

    margin: 5%;

    text-shadow: 0px 2px 20px #000000;

    box-shadow: 0px 10px 50px -20px #000000;

    color: white;
    background-color: rgba(255, 255, 255, 0.7);

    -webkit-backdrop-filter: blur(20px) contrast(1.3);
    backdrop-filter: blur(20px) contrast(1.3);

    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

body {
    display: grid;

    width: 100%;
    height: fit-content;

    grid-template-columns: 5% auto 5%;
    grid-template-rows: 4cm max-content 1cm;

    grid-template-areas: '. header .' '. main .' 'footer footer footer';

    text-align: center;

    align-content: center;
    align-items: center;
    align-self: center;

    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

main {

    height: fit-content;
    grid-area: main;

    border-radius: 0.5cm;

    margin-bottom: 20%;

    box-shadow: 0px 10px 50px -20px #000000;
}

article {
    display: grid;
    margin: auto;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    gap: 0.75cm;

    border-radius: 0.5cm;

    margin: 5%;

    align-items: center;
    text-align: center;
}

section {
    position: relative;

    width: 100%;
    height: 8cm;

    text-shadow: 0px 2px 20px #000000;

    color: white;

    border-radius: 0.5cm;

    box-shadow: 0px 10px 50px -20px #000000;

    background-repeat: no-repeat;
    background-size: cover;
}

section div {
    position: absolute;

    bottom: 0;

    width: 100%;
    height: 45%;

    text-align: right;

    margin-top: 0.5cm;

    border-radius: 0cm 0cm 0.5cm 0.5cm; 
}

section:hover div, section:focus div {
    height: 20%;
}

section div h2 {
    position: absolute;

    right: 1cm;
    bottom: 0.5cm;

    font-size: 1.5em;

    width: max-content;
    height: min-content;
}

section:hover div h2, section:focus div h2 {
    font-size: initial;
}

footer {
    display: flex;
    position: fixed;

    grid-area: footer;

    bottom: 0;

    width: 100%;
    height: 1.5cm;

    font-size: normal;
    text-align: center;

    align-items: center;
    align-content: center;
    justify-content: center;
    
}

a {
    color: white;
}

@media screen and (min-width: 50em) {
    body {
        grid-template-columns: 10% auto 10%;
        grid-template-rows: 4cm max-content 1cm;
    }

    article {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 100em) {
    body {
        grid-template-columns: 20% auto 20%;
        grid-template-rows: 4cm max-content 1cm;
    }

    article {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
